<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chama">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/download__"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/download__"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PendiD"></activity>
        <activity
            android:name=".Loans"
            android:label="@string/title_activity_loans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contribution"
            android:label="@string/title_activity_contribution"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DashBoard" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>